.vscode
./ChatServer/obj/*

*/.vs

*/*.vcxproj
*/*.sln
*/*.vcxproj.filters
*/*.vcxproj.user

!windowsClient/x64/Debug/windowsClient.exe
windowsClient/x64/Debug
!./ChatServer/bin/x64/Debug/ChatServer.out